<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Polyhedra</title>
    
    <link type="text/css" href="css/main.css" rel="stylesheet">
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    
    <script src="js/three.min.js"></script>
    <script src="js/PolyLoader.js"></script>
    <script src="js/TrackballControls.js"></script>
    
    <script src="js/main.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46762133-1', 'paaatrick.github.io');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-app="polyhedraApp">
    <div class="container" ng-controller="PolyController as poly">

      <div ng-class="{closed: !poly.menuOpen}" class="controls">
        <button ng-click="poly.toggleMenu()" id="menu-button">
          {{poly.buttonText}}
        </button>
        <div class="main-control">
          <label for="polyhedron">Polyhedron</label>
          <select id="polyhedron" ng-options="family.name for family in poly.families" ng-model="poly.family"></select>

          <ul>
            <li ng-repeat="polyhedra in poly.family.polyhedra" ng-class="{active: polyhedra.number === poly.displayed}" ng-click="poly.show(polyhedra.number)">
              {{polyhedra.name}}
            </li>
          </ul>

          <label for="style">Style</label>
          <select id="style" ng-options="o for o in poly.materialOptions" ng-model="poly.material" ng-change="poly.draw()"></select>

          <div class="credits">
            Created by <a href="http://paaatrick.github.io">Patrick Kalita</a>
          </div>
        </div>
      </div>
      <div id="scene">
        <input id="fold-amount" type="range" min="0" max="100" step="1" ng-model="poly.amount" ng-change="poly.draw()">
      </div>
    </div>
  </body>
</html>
